
<!DOCTYPE html>
<html>
<div id="header">
<head>
 <meta charset="UTF-8">
  <link rel = "stylesheet" type = "text/css" href ="css/style.css">
  <title>YEETPLAY</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <img src="images/eelplaylogo!!!.png" alt = Eelplay height="150" width="300">
</head>
 <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">EEL PLAY</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Eelhome</a></li>
        <li><a href="#">Rock/Garage Rock</a></li>
        <li><a href="#">Alternative</a></li>
        <li><a href="#">Rap/Hip Hop</a></li>
        <li><a href="#">Electronic and New Wave</a></li>
      </ul>
    </div>
  </div>
   </nav>
  </div>
   <h2> Featured artist of the week</h2>
   <img src = "http://alarm-magazine.com/wp-content/uploads/2010/06/tysegallbench2.jpg" height="300px" width="500px" alt="Ty Segal">

  <body background = "images/background.png">
<br>

<!--     <h1> <font style="futura"> <font color="blue"> <strong> Red </strong> </font> </font> </h1> -->
<!-- <ul style="list-style-type:disc">
   <li> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="https://www.google.com" >  </a> </li>
   <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Electronic/New Wave </li>
   <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Garage Rock </li>
</ul> -->
<!--   <h2><center> Eelpick's up and </center> </h2>
 <p1> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; paragraph of music </p1>
<br>
<!--image here of artist  -->
<!--<br>
<p3> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; First artist paragraph </p3>
<br>
<!-- image
<br>
<p4> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Second  </p4> -->
<!-- <div id="section">
  <h4> ME </h4>
  <p>MEME</p>
</div> -->
   <form method=post>
    Desired Genre:<br>
  <input type="text" name="genre">
     <input type="submit" value= "submit">
  <br>
</form>
</body>
</html>
